---
---
<!DOCTYPE html>
<html lang="en">
<head>
<title>NZBGet-ng - Usenet downloader</title>
<meta name="description" content="NZBGet-ng, the most efficient usenet downloader.">
{% include meta.html %}
</head>

<body class="bs-docs-home">

{% include header.html %}

<main class="bs-docs-masthead" id="content" role="main">
  <div class="container">
    <h1>NZBGet-ng</h1>
    <p class="lead">Efficient Usenet downloader.</p>
    <p class="lead">
      <a href="/download" class="btn btn-outline-inverse btn-lg btn-download">
      <span class="glyphicon glyphicon-cloud-download btn-icon"></span><span class="btn-title">Download NZBGet-ng</span><span class="btn-comment" style="padding-left:40px;">Windows, Mac, Linux, BSD, Android</span></a>
    </p>
  </div>
</main>

<div class="bs-docs-featurette">
  <div class="container">

	<div class="section-sourceforge">
    <p class="lead">NZBGet-ng is open source. It's hosted, developed, and maintained on GitHub.</p>
    <a href="https://github.com/nzbget-ng/nzbget" class="btn btn-outline btn-lg">View the GitHub project</a>
	</div>
	
  </div>
</div>

{% include footer.html %}

  </body>
</html>
